<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanou.taochangjun.gift.projectbapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchee"
        android:label="网易菠萝"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.EnterActivity" />

        <!-- android:configChanges="orientation"android:screenOrientation="portrait" -->
        <activity
            android:name=".video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".WebViewActivity.WebViewActivity"></activity>
    </application>

</manifest>